BODY { background-color:#000;}

/* --------------------------------------------------------------------------------------- */
.globalContent { position:relative; width:100%; height:100%; padding-top:30px; }
.ariane {font-size:16px;color:gray;margin-left:10px;}
.ariane A {font-size:16px;color:gray;text-decoration:underline;}

.titre {font-size:18px;color:white;margin-top:10px;margin-left:10px;}
.intro {position:relative; width:1000px; height:665px; margin:auto;border:1px solid #E94A3D}
.etape {position:relative; width:1000px; height:665px; margin:auto;border:1px solid #E94A3D}

.choixGroupe {position:relative; width:1000px; height:665px; margin:auto;border:1px solid #E94A3D}
.choixGroupe LI {position:relative;float:left;margin:20px;width:180px;height:140px;background:#E94A3D;list-style:none;cursor:pointer;}
.choixGroupe LI DIV  {position:relative;margin:auto;color:white;width:140px;text-align:center;padding-top: 60px;height: 81px;}

.choixEtape {position:relative; width:1000px; height:665px; margin:auto;border:1px solid #E94A3D}
.choixEtape LI {position:relative;float:left;margin:20px;width:270px;height:200px;background:#E94A3D;list-style:none;cursor:pointer;}
.choixEtape LI DIV  {position:relative;color:white;width:180px;height:100px;text-align:center;padding-top:50px;padding-left:10px;padding-right:10px;}
.choixEtape .disabled {background-color: grey !important;}

.hab1 {background:url('../imgs/1.png') no-repeat}
.hab2 {background:url('../imgs/2.png') no-repeat}
.hab3 {background:url('../imgs/3.png') no-repeat}
.hab4 {background:url('../imgs/4.png') no-repeat}
.hab5 {background:url('../imgs/5.png') no-repeat}

.loadAnim {float:right;display:none;}
.contentQuest {margin-top:10px;}
.colLeft	{width:250px;float:left;margin-left:20px;}
.colRight	{width:650px;float:left;margin-left:40px;margin-top:15px;}
.bigNumber	{font-size:75px;color:gray;font-weight:bold;}
.txtQuest	{font-size:18px;color:white;}
.txtQuestEn {font-size:18px;color:#AAAAAA;font-style:italic;}
.validbuts	{margin-top:20px;text-align:right;}

#but {
    background-color: #E94A3D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#butRet{
	/*width:100px;*/
    background-color: gray;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

input[type="text"] {
	/*width:213px;*/
	padding: 10px;
	border: none;
	border-bottom: solid 5px gray;
	transition: border 0.3s;
}

input[type="text"]:focus,
input[type="text"].focus {
	border-bottom: solid 5px #E94A3D;
}

TEXTAREA		{width:500px;outline:none;resize:none;border-bottom: solid 5px gray;margin-bottom:10px;}
TEXTAREA:focus	{width:500px;outline:none;resize:none;border-bottom: solid 5px #E94A3D;margin-bottom:10px;}
/*
.txtAreaQ1 {width:650px;height:100px;}
.txtAreaQ3 {width:315px;height:150px;}
.txtAreaQ4 {width:650px;height:350px;}
*/
.addField {float:right;width:25px;height:25px;font-size:20px;font-weight:bold;color:white;background-color:#E94A3D;padding:10px;text-align:center;cursor:pointer;}
.delField {float:right;width:25px;height:25px;font-size:24px;font-weight:bold;color:white;background-color:gray;padding:10px;text-align:center;cursor:pointer;}
